.sunday-service-container
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: block

    .navbar-screen-overlay
        background-color: black
        z-index: 4
        height: 100%
        width: 100%
        opacity: 0.8
        position: absolute

    .navbar-screen-overlay-enter
        opacity: 0.01

    .navbar-screen-overlay-enter.navbar-screen-overlay-enter-active
        opacity: 0.8
        transition: opacity 400ms ease-in

    .navbar-screen-overlay-leave
        opacity: 0.8

    .navbar-screen-overlay-leave.navbar-screen-overlay-leave-active
        opacity: 0.01
        transition: opacity 400ms ease-in

    .sunday-service-background
        background-image: linear-gradient(to top left, rgba(113, 214, 184, 1), rgba(251, 254, 253, 0.3))
        height: 100%
        width: 100%
        position: absolute
        z-index: -1

    .sunday-service-picture
        position: fixed
        height: 100%
        z-index: -2
        opacity: 0.35

    .top-navbar
        position: absolute
        display: flex
        top: 0
        height: 10%
        width: 100%
        background-color: white
        align-items: center
        justify-content: center
        border-bottom: solid 1px rgba(0, 0, 0, .25)

        .navbar-button
            list-style-type: none
            padding-left: 0
            left: 5%
            position: absolute
            @media (min-width: 600px)
                left: 25px

            li
                margin-top: 6px
                margin-bottom: 6px
                padding: 0px
                width: 2rem
                height: 0.25rem
                background-color: black
                border-radius: 20px
                display: block

        .navbar-logo
            max-width: 60%
            max-height: 75%
            font-size: 1.5em
            margin: auto  
            @media (min-width: 600px)
                right: 40px      
                max-height: 75%  


    .navbar
        display: block
        position: absolute
        top: 0
        bottom: 0
        z-index: 5
        // background-image: linear-gradient(rgba(181, 219, 223, 1) 1, rgba(161, 209, 215, 1) 1)
        background-color: rgba(161, 209, 215, 1)
        text-align: center

        .navbar-header
            margin-top: 13%   
            font-size: 2rem

        .navbar-list
            padding-left: 0
            text-align: left


            li
                list-style-type: none
                margin: 0
                margin-left: 5%
                padding: 0
                margin-top: 10px
                margin-bottom: 10px

                a
                    text-decoration: none
                    color: black
                    font-size: 1.75rem

                a:active
                    color: grey

    .navbar-inactive
        transition: 1s
        left: -200px
        width: 200px
        @media (max-width: 600px)
            left: -60%
            width: 60%
        @media (max-height: 425px)
            left: -25%
            width: 25%

    .navbar-active
        transition: 1s
        left: 0px
        width: 200px
        @media (max-height: 425px)
            left: 0
            width: 25%
        @media (max-width: 600px)
            left: 0%
            width: 60%


    .main-content-container
        position: absolute
        top: 10%
        bottom: 0
        left: 0
        right: 0
        @media (min-width: 600px)
            display: flex
            justify-content: center

        .services-index
            position: absolute
            top: 2.5%
            bottom: 5%
            left: 5%
            right: 5%
            text-align: center
            justify-content: center

            .services-header
                display: inline-block
                position: absolute
                font-family: Snell Roundhand, cursive
                font-size: 1rem
                bottom: 0
                width: 100%
                left: 0
                font-weight: bold

            .services-list

                .service-line
                    display: block
                    height: 6rem
                    margin-top: 3%
                    margin-bottom: 3%
                    width: 100%
                    display: grid
                    grid-template-columns: 100%
                    align-items: center
                    position: relative

                    .service-date-box
                        height: 100%
                        width: 4rem
                        display: flex
                        justify-content: center
                        align-items: center
                        position: absolute
                        top: 0
                        left: -1.35rem
                        display: none
                        @media (min-width: 600px)
                            left: 25%

                        .service-date
                            width: 2rem
                            height: 2rem
                            background-color: white
                            border-radius: 50%
                            padding: 4px
                            border: solid 4px
                            border-color: rgba(118, 194, 95, 1)
                            font-size: 0.8rem
                            

                    .service
                        height: 6rem
                        width: 90%
                        overflow: hidden
                        background-color: rgba(0, 0, 0, 1)
                        border-radius: 2px
                        padding: 0
                        margin: 0
                        align-items: center
                        display: flex
                        align-items: center
                        justify-content: center
                        border: solid 1px
                        box-shadow: 1px 1px 3px black 
                        border: 2px solid rgba(0, 0, 0, 0.5)
                        position: relative
                        margin-left: auto
                        margin-right: auto
                        @media (min-width: 600px)
                            width: 400px

                        img
                            position: absolute
                            max-width: 100%
                            width: 100%
                            opacity: 0.3
                            overflow: hidden

                        .service-lettering
                            color: white
                            font-size: 1.65rem
                            opacity: 1
                            z-index: 1
                            position: relative

                        .service-lettering::before
                            content: ""
                            height: 1px
                            position: absolute
                            top: 0
                            right: 0
                            background-color: white
                            width: 100%
                            z-index: 1
                            animation: 1s ease-in service-border
                            opacity: 0.5

                        .service-lettering::after
                            content: ""
                            position: absolute
                            bottom: 0
                            left: 0
                            background-color: white
                            height: 1px
                            width: 100%
                            animation: 1s ease-in service-border
                            opacity: 0.5

                            
        .slide-container
            position: absolute
            background-color: snow
            border: solid 2px
            border-radius: 20px
            padding: 5%
            margin: 0
            box-shadow: 1px 1px 5px black  
            top: 5%
            bottom: 5%
            @media (min-width: 600px)
                width: 400px
            @media (max-width: 599px)
                left: 5%
                right: 5%
                width: 80%


            .slide
                opacity: 1
                position: absolute
                text-align: center
                left: 10%
                right: 10%
                width: 80%
                position: absolute
                @media (max-height: 425px)
                    top: 20px

                .slide-title
                    font-size: 2rem
                    margin-bottom: 10%
                    @media (min-width: 600px)
                        margin-bottom: 20px
                    @media (max-height: 425px)
                        margin-bottom: 10px
                        font-size: 1.35rem

                .slide-content
                    line-height: 2
                    font-size: 1.35rem
                    white-space: pre-line
                    @media (max-height: 425px)
                        font-size: 1.15rem
                    @media (max-height: 376px)
                        font-size: 1rem

            .slide-enter
                opacity: 0.01

            .slide-enter.slide-enter-active
                opacity: 1
                transition: opacity 700ms ease-in

            .slide-leave
                opacity: 1

            .slide-leave.slide-leave-active
                opacity: 0.01
                transition: opacity 700ms ease-in

            .slide-buttons
                position: sticky
                display: flex
                top: 90%
                left: 0
                right: 0
                justify-content: space-between
                width: 100%
                padding: 0
                margin: 0
                height: 50px


                .left-button
                    display: inline
                    left: 5%
                    margin-bottom: 1rem
                    width: 50px
                    height: 50px
                    margin-left: 10%
                    border-radius: 50px
                    background: rgba(118, 194, 95, 1)
                    color: white
                    font-size: 2rem
                    box-shadow: 0
                    border: solid grey 1px
                    padding: 0

                .right-button
                    display: inline
                    right: 5%
                    margin-bottom: 1rem
                    width: 50px
                    height: 50px
                    margin-right: 10%
                    border-radius: 50px
                    background: rgba(118, 194, 95, 1)
                    color: white
                    font-size: 2rem
                    box-shadow: 0
                    border: solid grey 1px
                    padding: 0

@keyframes service-border
    0%
        width: 0%
    100%
        width: 100%