li
    list-style: none
    margin: 0

ul
    margin: 0

input
    background-color: snow
    font-family: Tahoma, Geneva, sans-serif
    
input:focus
    outline: none

textarea
    background-color: snow
    font-family: Tahoma, Geneva, sans-serif
    
textarea:focus
    outline: none

button
    cursor: pointer

button:focus
    outline: none
    
.admin-panel-container
    background-image: linear-gradient(to top left, rgba(113, 214, 184, 1), rgba(251, 254, 253, 1))
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: scroll

    .login-wrapper
        position: absolute
        height: 100%
        width: 100%
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: flex
        justify-content: center
        align-items: center
        
        .login-card
            height: 300px
            width: 400px
            border: solid black 1px
            border-radius: 10px
            box-shadow: 1px 1px 5px black
            background-color: snow
            justify-content: center
            align-items: center
            text-align: center

            h1
                
            .login-error
                position: relative
                font-size: 10pt
                top: 0

            form
                position: relative
                width: 75%
                left: 12.5%
                right: 12.5%
                display: grid

                input
                    margin-top: 10px
                    margin-bottom: 10px
                    border: none
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5)
                    transition: background-color 200ms

                input:focus
                    background-color: rgba(113, 214, 184, 0.3)
                    border-top-left-radius: 2px
                    border-top-right-radius: 2px

                button
                    display: block
                    margin-top: 10px
                    border: 2px solid rgba(118, 194, 95, 1)
                    border-radius: 10px
                    box-shadow: 1px 1px 1px black
                    transition: background-color 500ms
                    color: white
                    background-color: rgba(118, 194, 95, 1)

                button:hover
                    background-color: snow
                    color: rgba(118, 194, 95, 1)

    .admin-panel-wrapper
        position: absolute
        width: 100%
        height: 100%

        .navbar-wrapper
            width: 100%
            height: 50px
            border-bottom: 1px solid grey
            background-color: snow
            display: grid
            align-items: center
            grid-auto-flow: column
            grid-template-columns: 33.3% 33.3% 33.3%
            text-align: center

            li
                display: inline-block
                list-style: none
                padding: 0
                cursor: pointer
                max-height: 100%
                width: 100%

                .navbar-logo
                    max-height: 40px

            .logout

                div
                    text-align: right
                    margin-right: 10px

            .navbar-links
                text-align: left
                padding-left: 10px

                a
                    color: inherit
                    text-decoration: inherit

        .services-container
            position: absolute
            display: flex
            width: 100%
            height: 100%
            justify-content: center


            .services-index
                margin-top: 2.5%
                width: 80%
                height: 75%
                background-color: snow
                border: 2px solid rgba(0, 0, 0, 0.5)
                box-shadow: 1px 1px 2.5px black
                border-radius: 20px
                display: flex
                align-items: center
                justify-content: center
                display: grid
                grid-template-rows: 0 80% 10%
                grid-template-columns: 80%

                .services-header
                    display: inline-block
                    margin-top: 5%
                    margin-left: auto
                    margin-right: auto
                    text-align: center
                    font-size: 1.5rem

                .services-index-grid
                    display: grid
                    margin-top: 10%
                    width: 100%
                    height: 90%
                    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%
                    grid-template-columns: 30% 30% 30%
                    grid-row-gap: 3.3%
                    grid-column-gap: 2.5%

                    .service
                        display: flex
                        width: 100%
                        height: 100%
                        justify-content: center
                        align-items: center
                        border-radius: 20px
                        border: 2px solid rgba(118, 194, 95, 1)
                        border-radius: 10px
                        box-shadow: 1px 1px 1px black
                        transition: background-color 500ms
                        background-color: rgba(118, 194, 95, 1)
                        color: white

                    .service:hover
                        background-color: snow
                        color: rgba(118, 194, 95, 1)
                        cursor: pointer

                .new-service-button
                    display: block
                    margin-top: 10px
                    background-color: rgba(118, 194, 95, 1)
                    border: 2px solid rgba(118, 194, 95, 1)
                    color: white
                    border-radius: 10px
                    box-shadow: 1px 1px 1px black
                    transition: background-color 500ms
                    width: 100px

                .new-service-button:hover
                    background-color: snow
                    color: rgba(118, 194, 95, 1)

        .slide-form-wrapper
            width: 100%    
            height: 100%
            display: grid
            grid-template-columns: 100%
            grid-template-rows: 50px auto
            align-items: center

            .section-date-wrapper
                width: 100%
                text-align: center

            .slide-button-wrapper
                width: 80%
                text-align: right


                button
                    width: 125px
                    margin-left: 5px
                    margin-right: 5px
                    margin-bottom: 100px
                    background-color: rgba(118, 194, 95, 1)
                    border: 2px solid rgba(118, 194, 95, 1)
                    color: white
                    border-radius: 10px
                    box-shadow: 1px 1px 1px black
                    transition: background-color 500ms

                button:hover
                    background-color: snow
                    color: rgba(118, 194, 95, 1)

                .delete-button
                    color: snow
                    background-color: red
                    border-color: red

                .delete-button:hover
                    color: red
                    background-color: snow

            ul
                padding-left: 0
                list-style: none

            .section-container
                background-color: snow
                width: 60%  
                margin-left: auto            
                margin-right: auto
                min-height: 200px
                border-radius: 20px
                margin-top: 10px
                margin-bottom: 10px
                position: relative
                border: 2px solid rgba(0, 0, 0, 0.5)
                box-shadow: 1px 1px 2.5px black

                .delete-x
                    top: 10px
                    right: 20px

                .section-grid
                    display: grid
                    grid-template-rows: 40px auto 1.1rem
                    min-height: 200px
                    width: 90%
                    margin-left: auto
                    margin-right: auto
                    margin-top: 20px
                    margin-bottom: 20px

                    .section-header
                        text-align: center
                        width: 100%

                        .section-title-input
                            width: 150px
                            height: 1rem
                            margin-top: 0%
                            margin-left: auto
                            margin-right: auto
                            border: none
                            border-bottom: 1px solid rgba(0, 0, 0, 0.5)

                    .add-slide-button
                        width: 100px
                        max-height: 1.1rem
                        bottom: 0
                        width: 125px
                        background-color: rgba(118, 194, 95, 1)
                        border: 2px solid rgba(118, 194, 95, 1)
                        color: white
                        border-radius: 10px
                        box-shadow: 1px 1px 1px black
                        transition: background-color 500ms


                    .add-slide-button:hover
                        background-color: snow
                        color: rgba(118, 194, 95, 1)

                .slide-wrapper
                    width: 80%
                    height: 100%
                    margin-left: auto
                    margin-right: auto

                    .sortable
                        width: 100%
                        // height: 100%
                        display: grid
                        grid-template-columns: 45% 45%
                        column-gap: 10%

.slide-container
    text-align: center
    border: 1px solid rgba(0, 0, 0, 0.25)
    border-radius: 5px
    box-shadow: 1px 1px 2px
    margin-bottom: 10px
    width: 100%
    margin-left: auto
    margin-right: auto
    position: relative

    input
        width: 60%
        text-align: center
        border: none
        font-weight: bold
        border-bottom: 1px solid rgba(0, 0, 0, 0.5)

    input::placeholder

    textarea
        display: inline-block
        margin-top: 10px
        height: 100px
        width: 60%
        overflow: scroll
        resize: none
        margin-bottom: 5px
        border: none
        text-align: center

    textarea::placeholder

.delete-x
    position: absolute
    top: 5px
    right: 10px
    font-size: 8pt
    z-index: 4
    font-weight: bold

.delete-x:hover
    cursor: pointer

